[submodule "vendored/SDL/src"]
	path = vendored/SDL/src
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendored/SDL/src_ttf"]
	path = vendored/SDL/src_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "engine/vendored/SDL/src"]
	path = engine/vendored/SDL/src
	url = https://github.com/libsdl-org/SDL.git
[submodule "engine/vendored/SDL/src_ttf"]
	path = engine/vendored/SDL/src_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "engine/src/vendored"]
	path = engine/src/vendored
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "engine/vendored/SDL/src_image"]
	path = engine/vendored/SDL/src_image
	url = https://github.com/libsdl-org/SDL_image.git
